@model CallManagerPanel.MVCWebUI.Models.UserVm
@{
    ViewBag.Title = $"Profil - {Model.Fullname}";
}

<div class="container">

    <div class="card mb-4">

        <div class="card-body">

            <div class="card">

                <div class="card-header bg-light font-weight-normal">
                    <h3><small>Profil</small></h3>
                </div>

                <div class="card-body">

                    <div class="form-group row">
                        <label for="user-full-name" class="col-sm-2 col-form-label">Ad Soyad</label>
                        <div class="col-sm-10">
                            <text id="user-full-name">@Model.Fullname</text>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-roles" class="col-sm-2 col-form-label">Rol(ler)</label>
                        <div class="col-sm-10">
                            <text id="user-roles">@Model.Roles</text>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-username" class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                        <div class="col-sm-10">
                            <text id="user-username">@Model.Username</text>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="user-password" class="col-sm-2 col-form-label">Şifre</label>
                        <div class="col-sm-10">
                            <text id="user-password">@Model.Password</text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
